<div class="header fondo-tabla pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Usuarios</h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-success" (click)="create()">Crear</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Fecha nacimiento</th>
                <th scope="col">e-mail</th>
                <th scope="col">rol</th>
                <th scope="col">info</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let actualUser of users">
                  <td>{{actualUser._id}}</td>
                  <td>{{actualUser.name}}</td>
                  <td>{{actualUser.surname}}</td>
                  <td>{{actualUser.phone}}</td>
                  <td>{{actualUser.birthdate}}</td>
                  <td>{{actualUser.email}}</td>
                  <td>{{actualUser.role?.name}}</td>
                <th>
                  <button type="button" class="btn btn-primary" (click)="edit(actualUser._id)">Editar</button>
                  <button type="button" class="btn btn-danger" (click)="delete(actualUser._id,actualUser.role?.name)">Eliminar</button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



