<div class="header fondo-tabla pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0"> 
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Puntos</h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-success" (click)="create()">Crear</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Coordenadas</th>
                <th scope="col">Fecha Creación</th>
                <th scope="col">Fecha Actualización</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let point of points">
                <th>{{point.id}}</th>
                <td>{{point.name}}</td>
                <td>{{point.latitude}}, {{point.longitude}}</td>
                <td>{{point.created_at}}</td>
                <td>{{point.updated_at}}</td>
                <th>
                  <button type="button" class="btn btn-primary" (click)="update(point.id)">Editar</button>
                  <button type="button" class="btn btn-danger" (click)="delete(point.id)">Eliminar</button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>