
.textR{
    color: #1d267d;  
    font-size: 1.5em;  
    font-weight: 600; 
    text-align: center;
}

.textH2{
    color: #0e197c;  
    font-size: 3.5em;  
    font-weight: bolder; 
    text-align: center;
}

.bt{
    background-color: #5c469c;
}

@media (max-width: 380px){
    .textH2{
        font-size: 2.5em; 
    }
}