<div class="register-backround">
  <div class="header py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Bienvenido!</h1>
            <p class="text-white">Regístrate ahora para disfrutar de viajes cómodos, seguros y asequibles</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container marg pb-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 col-lg-6 col-xl-4"> 
        <div class="card bg-white shadow border-0">
          <div class="card-header bg-transparent text-center">
            <h2 class="mt-2 mb-4 text-black">¿Cómo te quieres registrar?</h2>
          </div>
          <div class="card-body px-lg-5 py-lg-3 d-flex justify-content-center mu"> 
            <button type="button" class="btn btn-primary mr-2"  (click)="registrocliente()">Cliente</button>
            <button type="button" class="btn btn-primary" >Conductor</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>