
<div class="box-inputs">
  <div>
    <div id="geocoder" #asGeoCoder class="geocoder"></div>
  </div>

  <div (click)="changeMode('start')" [ngClass]="{'active-way':modeInput ==='start'}">
    <div class="mock-label">Inicio</div>
    <div class="mock-input">{{wayPoints?.start?.place_name}}</div>
  </div>

  <div (click)="changeMode('end')" [ngClass]="{'active-way':modeInput ==='end'}">
    <div class="mock-label">Final</div>
    <div class="mock-input">{{wayPoints?.end?.place_name}}</div>
  </div>

</div>
          <div class="table-responsive">
                <div id="map" #asMap class="map" class="map"></div>
            
          </div>

          <div class="box-inputs">
            <button class="btn btn-warning" (click)="drawRoute()">Dibujar Ruta</button>
            <button class="btn btn-warning" (click)="prueba()">Marcador</button>
            <button class="btn btn-warning" (click)="seguir()">Seguir ruta</button>
          </div>
