<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body"></div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Factura</h3>
              </div>
              <div class="col text-right">
                <button class="btn btn-success" (click)="create()">Crear</button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Date</th>
                  <th scope="col">Trip</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let actualBill of bills">
                  <th>{{actualBill.id}}</th>
                  <th>{{actualBill.price}}</th>
                  <th>{{actualBill.date}}</th>
                  <th>{{actualBill.trip_id}}</th> 
                  <th>
                    <button type="button" class="btn btn-primary" (click)="edit(actualBill.id)">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="delete(actualBill.id)">Eliminar</button>
                  </th>
                </tr> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
