<div class="header fondo-tabla pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="creationMode" class="mb-0">Crear Método de pago</h3>
                    <h3 *ngIf="!creationMode" class="mb-0">Actualizar Método de pago</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="formGroupValidator">

                        <div class="row">
                            <div class="col-3">
                                <label>Tipo:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text" formControlName="type">
                                <div *ngIf="formGroupValidatorData.type.errors && (formGroupValidatorData.type.dirty || formGroupValidatorData.type.touched)">
                                    <strong *ngIf="formGroupValidatorData.type.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label>Nro Tarjeta:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text" formControlName="cardNumber">
                                <div *ngIf="formGroupValidatorData.cardNumber.errors && (formGroupValidatorData.cardNumber.dirty || formGroupValidatorData.cardNumber.touched)">
                                    <strong *ngIf="formGroupValidatorData.cardNumber.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label>CVV:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text" formControlName="cardCVV">
                                <div *ngIf="formGroupValidatorData.cardCVV.errors && (formGroupValidatorData.cardCVV.dirty || formGroupValidatorData.cardCVV.touched)">
                                    <strong *ngIf="formGroupValidatorData.cardCVV.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label>Fecha de expiración:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="date" formControlName="expiryDate">
                                <div *ngIf="formGroupValidatorData.expiryDate.errors && (formGroupValidatorData.expiryDate.dirty || formGroupValidatorData.expiryDate.touched)">
                                    <strong *ngIf="formGroupValidatorData.expiryDate.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">

                            </div>
                            <div class="col-9">
                                <button *ngIf="creationMode" type="button" class="btn btn-primary btn-block"
                                    (click)="create()">Crear</button>
                                <button *ngIf="!creationMode" type="button" class="btn btn-primary btn-block"
                                    (click)="update()">Actualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

