<!-- <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
Page content 
<div class="container-fluid mt--7">
 
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="creationMode" class="mb-0">Crear Factura</h3>
                    <h3 *ngIf="!creationMode" class="mb-0">Actualizar Factura</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="formGroupValidator">

                        <div class="row">
                            <div class="col-3">
                                <label>Price:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text" formControlName="brand">
                                <div *ngIf="formGroupValidatorData.brand.errors && (formGroupValidatorData.brand.dirty || formGroupValidatorData.brand.touched)">
                                    <strong *ngIf="formGroupValidatorData.brand.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label>Viaje:</label>
                            </div>
                            <div class="col-9">
                                <select class="form-control" type="text" formControlName="model"> 
                                    <option value="opcion1">Opción 1</option>
                                    <option value="opcion2">Opción 2</option>
                                    <option value="opcion3">Opción 3</option>
                                </select>
                                <div *ngIf="formGroupValidatorData.model.errors && (formGroupValidatorData.model.dirty || formGroupValidatorData.model.touched)">
                                    <strong *ngIf="formGroupValidatorData.model.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label>Año:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text" formControlName="year">
                                <div *ngIf="formGroupValidatorData.year.errors && (formGroupValidatorData.year.dirty || formGroupValidatorData.year.touched)">
                                    <strong *ngIf="formGroupValidatorData.year.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label>Color:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text" formControlName="color">
                                <div *ngIf="formGroupValidatorData.color.errors && (formGroupValidatorData.color.dirty || formGroupValidatorData.color.touched)">
                                    <strong *ngIf="formGroupValidatorData.color.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label>Placa:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text" formControlName="plate">
                                <div *ngIf="formGroupValidatorData.plate.errors && (formGroupValidatorData.plate.dirty || formGroupValidatorData.plate.touched)">
                                    <strong *ngIf="formGroupValidatorData.plate.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label>Precio:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text" formControlName="passenger_capacity">
                                <div *ngIf="formGroupValidatorData.passenger_capacity.errors && (formGroupValidatorData.passenger_capacity.dirty || formGroupValidatorData.passenger_capacity.touched)">
                                    <strong *ngIf="formGroupValidatorData.passenger_capacity.errors.required">Campo requerido</strong>
                                    <strong *ngIf="formGroupValidatorData.passenger_capacity.errors.min">El valor debe ser superior a 0</strong>
                                    <strong *ngIf="formGroupValidatorData.passenger_capacity.errors.max">El valor debe ser inferior a 4</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label>Tarjeta de Propiedad:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text" formControlName="property_card">
                                <div *ngIf="formGroupValidatorData.property_card.errors && (formGroupValidatorData.property_card.dirty || formGroupValidatorData.property_card.touched)">
                                    <strong *ngIf="formGroupValidatorData.property_card.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label>Soat:</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="text" formControlName="soat">
                                <div *ngIf="formGroupValidatorData.soat.errors && (formGroupValidatorData.soat.dirty || formGroupValidatorData.soat.touched)">
                                    <strong *ngIf="formGroupValidatorData.soat.errors.required">Campo requerido</strong>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">

                            </div>
                            <div class="col-9">
                                <button *ngIf="creationMode" type="button" class="btn btn-primary btn-block"
                                    (click)="create()">Crear</button>
                                <button *ngIf="!creationMode" type="button" class="btn btn-primary btn-block"
                                    (click)="update()">Actualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>-->