.container-fluid {
  background-color: #111b70;
}

.sidebar-color {
  background-color: #111b70;
}

.sidebar-color-collapsed{
    background-color: #111b70;
}

#sidenav-main a {
    color: white !important;
}

