.error-message {
    font-size: 0.8em;
    text-align: left;
    position: absolute;
    top: 50%;  
    transform: translateY(-50%);  
    right: 20px;  
    color: rgb(255, 86, 86);
}
  
.password-requirements {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  font-size: 0.8em;
  color: #111b70; 
}

.fondo-tabla {
  background-color: #d4adfc;
}