.error-message {
    font-size: 0.8em;
    text-align: left;
    position: absolute;
    top: 50%;  /* Posiciona el mensaje de error en el centro vertical */
    transform: translateY(-50%);  /* Centra verticalmente el mensaje de error */
    right: 20px;  /* Ajusta el espacio desde el borde derecho del input */
    color: rgb(255, 86, 86);
}
  
.password-requirements {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  font-size: 0.8em;
  color: #111b70; /* Color verde para los requisitos válidos */
}