<div class="mision">
    <div class="card-container">
        <div class="card-wrapper margin-top-20">
          <div class="card purple-card">
            <img src="../../../assets/img/mision/1.jpg" alt="Automóvil 1" class="car-image">
            <div class="content">
              <h2 class="title">Revolucionar la Movilidad Urbana</h2>
              <p class="text">En UrbanNav, estamos comprometidos a transformar la manera en que las personas se desplazan en entornos urbanos. Nuestra misión es ofrecer una solución de transporte que haga que los viajes sean más seguros, convenientes y eficientes</p>
            </div>
          </div>
        </div>
      
        <div class="card-wrapper margin-top-50">
          <div class="card blue-card">
            <img src="../../../assets/img/mision/2.jpg" alt="Automóvil 2" class="car-image">
            <div class="content">
              <h2 class="title">Conectividad Inteligente</h2>
              <p class="text">Utilizamos tecnologías de vanguardia y un enfoque orientado a la conectividad para conectar de manera inteligente a conductores y pasajeros. Esto permite una asignación eficiente de viajes, reduciendo el tiempo de espera y mejorando la experiencia del usuario</p>
            </div>
          </div>
        </div>
      
        <div class="card-wrapper margin-top-80">
          <div class="card purple-card">
            <img src="../../../assets/img/mision/3.jpg" alt="Automóvil 3" class="car-image">
            <div class="content">
              <h2 class="title">Servicio personalizado</h2>
              <p class="text">En UrbanNav, comprendemos que cada usuario es único. Nuestra misión es proporcionar un servicio de transporte personalizado que se adapte a las preferencias individuales de cada usuario. Ya sea que necesites un viaje rápido al trabajo o un recorrido más relajado</p>
            </div>
          </div>
        </div>
    </div>
</div>
  