<div class="dashboard-container">
  <div class="background-image">
      <div class="request-trip-box">
        <div class="action-text">¡Simplifica tu movilidad con UrbanNav!</div>
        <button class="request-trip-btn action-button">¡Solicitar un viaje!</button>
      </div>
      <div class="register-box">
        <div class="action-text">¡Regístrate ahora y descubre una nueva forma de viajar!</div>
        <button class="register-btn action-button">Regístrate aquí</button>
      </div>

  </div>
  <div class="features">
    <div class="feature-item">
      <img
        src="https://img.freepik.com/vector-gratis/ilustracion-concepto-abstracto-servicio-carsharing_335657-1845.jpg?w=740&t=st=1700265616~exp=1700266216~hmac=1806602236db957f374a79511f452fa487bb71539b8b2606e8f8800f1c56173b"
        alt="Comodidad Personalizada"
      />
      <h3>Comodidad Personalizada</h3>
      <p>UrbanNav te ofrece viajes personalizados que se adaptan a tus necesidades y preferencias, brindándote comodidad en cada trayecto.</p>
    </div>
    <div class="feature-item">
      <img
        src="https://media.licdn.com/dms/image/D4E12AQGKWXdVDu33xA/article-cover_image-shrink_720_1280/0/1687172963590?e=2147483647&v=beta&t=fNLD_F-K_M3KScwi_gUai2ZmjmpGqMuEODXoOt77o8I"
        alt="Seguridad en Cada Viaje"
      />
      <h3>Seguridad en Cada Viaje</h3>
      <p> Disfruta de la tranquilidad de saber que UrbanNav se preocupa por tu seguridad, con conductores verificados y seguimiento en tiempo real de tus viajes.</p>
    </div>
    <div class="feature-item">
      <img
        src="https://img.freepik.com/vector-gratis/servicio-coche-localizacion-gps_18591-51117.jpg?w=740&t=st=1700265734~exp=1700266334~hmac=0c9cb936265a4b7356f545ac9e32311f3a4bd98e019dbe3b0475fc3878ae54c9"
        alt="Movilidad Eficiente"
      />
      <h3>Movilidad Eficiente</h3>
      <p>UrbanNav te ayuda a moverte de manera eficiente por la ciudad, evitando tiempos de espera y optimizando tus desplazamientos.</p>
    </div>
  </div>
</div>
