<div class="dashboard-container">
  <div class="background-image">
    <div class="action-buttons">
      <button class="request-trip-btn">¡Solicitar un viaje!</button>
      <button class="register-btn">Regístrate Aquí!</button>
      <div class="action-text">Simplifica tu movilidad, con UrbanNav</div>
    </div>
  </div>
  <div class="features">
    <div class="feature-item">
      <img
        src="https://img.freepik.com/vector-gratis/ilustracion-concepto-abstracto-servicio-carsharing_335657-1845.jpg?w=740&t=st=1700265616~exp=1700266216~hmac=1806602236db957f374a79511f452fa487bb71539b8b2606e8f8800f1c56173b"
        alt="Comodidad Personalizada"
      />
      <h3>Comodidad Personalizada</h3>
      <p>Descripción de la comodidad personalizada.</p>
    </div>
    <div class="feature-item">
      <img
        src="https://media.licdn.com/dms/image/D4E12AQGKWXdVDu33xA/article-cover_image-shrink_720_1280/0/1687172963590?e=2147483647&v=beta&t=fNLD_F-K_M3KScwi_gUai2ZmjmpGqMuEODXoOt77o8I"
        alt="Seguridad en Cada Viaje"
      />
      <h3>Seguridad en Cada Viaje</h3>
      <p>Descripción de la seguridad en cada viaje.</p>
    </div>
    <div class="feature-item">
      <img
        src="https://img.freepik.com/vector-gratis/servicio-coche-localizacion-gps_18591-51117.jpg?w=740&t=st=1700265734~exp=1700266334~hmac=0c9cb936265a4b7356f545ac9e32311f3a4bd98e019dbe3b0475fc3878ae54c9"
        alt="Movilidad Eficiente"
      />
      <h3>Movilidad Eficiente</h3>
      <p>Descripción de la movilidad eficiente.</p>
    </div>
  </div>
</div>
