<div class="vision">
    <div class="container">
        <div class="top-half">
          <div class="left-half">
            <div class="text-container">
              <p class="line1">Quiénes somos</p>
              <p class="line2">Visión general</p>
              <p class="line3">Tu destino, a un toque de distancia</p>
            </div>
          </div>
          <div class="right-half">
            <img src="../../../assets/img/vision/1.jpg" alt="Persona en automóvil">
          </div>
        </div>
        <div class="bottom-half">
          <p class="centered-text">En UrbanNav, nuestra visión es simple pero poderosa: hacer que cada viaje sea rápido, seguro y amigable. Nos esforzamos por brindarte conductores verificados y bien calificados al alcance de tu mano, garantizando un servicio que no solo te lleve a tu destino, sino que también te ofrezca comodidad y tranquilidad en cada paso del camino. Contigo, estamos forjando un futuro donde cada viaje cuenta y cada destino es una nueva oportunidad</p>
        </div>
    </div>
</div>
  
